/run_*.py
/inference/
/corpora/
.travis.yml
/models/cluecorpussmall_spm.model
/models/albert/
/models/gpt2/
/models/t5/
/models/t5-v1_1/
/models/google_*_en_vocab.txt
/models/google_zh_ancient_vocab.txt
/models/google_zh_poem_vocab.txt
/models/google_zh_with_sentinel_vocab.txt
/datasets/event_extraction_dataset/*
/results/
/models/bert/*.bin
.idea/
.vscode/
*.pyc
__pycache__/
