pandas==0.23.4
jieba==0.39
six==1.15.0
numpy==1.20.3
joblib==0.13.2
tensorflow==2.0.0a0
packaging==20.9
matplotlib==3.0.2
tqdm==4.43.0
apex==0.9.10dev
lightgbm==3.2.1
scikit_learn==0.24.2
seaborn==0.11.1
sentencepiece==0.1.96
torch==1.9.0
transformers==4.8.2
